:root{
	--mainColor:#2F2F59;
	--mainColorShade1:#343360;

	--solidBgColor:#fff;

	--glassColor:linear-gradient(to right bottom, 
	rgba(152,205,237,0.4), 
	rgba(170,201,167,0.3)
	);

	--glassShadow:box-shadow: 5px 5px 15px -11px #000000;

	--lineBreakColor:rgba(152,205,237,0.5);



	--textColor1:#fff;
	--textColor2:rgb(218, 216, 219);
	--textColor3:#39395f; /*Dark*/
	--textColor4:#5b5b91;

	--blob1BgColor:linear-gradient(90deg, rgba(152,205,237,0.5) 0%, rgb(127, 144, 156) 100%);

	--blob2BgColor:linear-gradient(90deg, rgb(182, 152, 237) 0%, rgba(179, 167, 201, 0.5) 100%);

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 0.3s;
}

h1{
	color: var(--textColor1);
	
	font-family: 'Lato', sans-serif;
}

h2{
	color: var(--textColor1);
	font-family: 'Lato', sans-serif;
}

h3{
	color: var(--textColor1);
	font-family: 'Lato', sans-serif;
}

p{
	font-size: 16px;
	color: var(--textColor1);
}

a{
	text-decoration: none;
}

hr{
	border: 0; 
	border-top: 1px solid var(--lineBreakColor);
	
}

main{
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	background: linear-gradient(90deg, var(--mainColor), var(--mainColorShade1));
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-spacer{
	margin-top: 20px;
	margin-bottom: 20px;
}


.portfolio{
	min-height: 85vh;
	width: 85%;
	background: var(--glassColor);
	border-radius: 1rem;
	backdrop-filter: blur(2rem);
	z-index: 3;
	margin-top: 1em;
}

.menu{
	display: flex;
	margin: 2em;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--lineBreakColor);
}

.browser-dot{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;
}

#dot-1{
	background-color: #FF5D4F;

}

#dot-2{
	background-color: #FEC02F;

}

#dot-3{
	background-color: #2ACA3E;

}



.container{
	display: flex;
	justify-content: space-evenly;
}


.bio-container{
	width: 300px;
	padding: 40px;

}


#profile_pic{
	width: 200px;
	border-radius: 50%;
}


.contact-options{
	margin-top: 1.5em;
}

.contact-options a{
	text-decoration: none;
	color: var(--textColor1);
	margin: 5px;
	font-style: italic;
	font-size: 14px;
}

.contact-options a:hover{
	color: rgba(255, 255, 255, 0.5)
}




.resume-container{
	margin-top: 1em;
}

.resume{
	margin: 15px 0;
	text-decoration: none;
	display: block;
	background-color: #6faed356;
	border:0;
	color: #fff;
	padding: 5px;
	border-radius: 50px;
	font-size: 1em;
	width: 40%;
	text-align: center;
}

.resume-info{
	margin-top: 1em;
}

.content-container{
	width: 70%;
}

#projects-title-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

#slideLeft{
	transform: rotate(180deg);
}



.projects-title{
	text-align: center;
	color: var(--textColor1);
	opacity: 0.9;

}

#skills{
	margin-top: 1em;
}

.project-main-wrapper{
	overflow-x: auto;
}

.projects-container{
	display: flex;
	margin-top: 1em;
	padding: 20px;
	/*overflow: auto;*/
	width: fit-content;
	
}


/* width */
.project-main-wrapper::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  
  /* Track */
  .project-main-wrapper::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(204, 255, 204, 0.541); 
	border-radius: 5px;
  }
   
  /* Handle */
  .project-main-wrapper::-webkit-scrollbar-thumb {
	background: #fff; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  .project-main-wrapper::-webkit-scrollbar-thumb:hover {
	background: #fff; 
  }

.project-card{
	border-radius:5px 5px 5px 5px;

	/* Need to fix this... */
	margin-left: 1em;
	
	width: 300px;
}



.proj-img{
	display: block;
	width: 100%;
	height: 175px;
	object-fit: cover;
	margin:0!important;
	padding: 0!important;
	border-radius: 5px 5px 0 0;
	

}

.project-card-body{

	background-color: var(--solidBgColor);
	padding: 10px;
	margin:0;
	box-sizing: border-box;
	border-radius:0 0 5px 5px;
	word-wrap: break-word


}



.about-wrapper{
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
	/* box-shadow: 6px 6px 20px rgba(122,122,122,0.6);
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .9); */
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 8px 5px 11px -3px rgba(14,22,97,0.19);
}

.about-title{
	color:var(--textColor3);
}

.about-wrapper p{
	color: var(--textColor4);
}

.proj-title{
	font-size: 16px;
	color: #39395f;

}

.skills-container-wrapper{
	display: flex;
	justify-content: space-evenly;
	margin-top: 2em;
	border-radius: .5em;
}



/* Dropdown Content */
.skills-container{
	flex-grow: 2;
	border-radius: .5em;
	display: flex;
	flex-flow: column;
	margin:10px;
}


.skill-wrapper{
	border-bottom: 1px solid var(--lineBreakColor);
	padding: 0.5em 1em;
	
}

.skill{
	font-size: 18px;
}

.skill-preview-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.skill-detail{
	height: 0;
	overflow: hidden;
	margin-top: 20px;
}

.skill-detail p{

	color: var(--textColor2);
}


.expand-icon{
	font-size: 24px;
	font-weight: 900;
	cursor: pointer;
	
}


#short-bio-wrapper{
	margin: 20px;

}


.blob1, .blob2{
	height: 20rem;
	width: 20rem;
	position: absolute;
}

.blob1{
	top: 1%;
	left: 1%;
	border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
	background: var(--blob1BgColor);
}

.blob2{
	bottom: 1%;
	right: 1%;
	border-radius: 51% 81% 28% 100% / 60% 73% 36% 60%;
	background: var(--blob2BgColor);
}


@media screen and (max-width:1035px){


	.portfolio{
		width: 95%;
	}

}


@media screen and (max-width:500px){

.skills-container-wrapper{
	flex-direction: column;
}

}



@media screen and (max-width:980px){
	
	.content-container{
		width: 100%;
	}

	.bio-container{
		width: 100%;
	
	}
	.container{
		flex-direction: column;
	}


	.about-wrapper{
		margin-left: 0;
		margin-bottom: 0;
	}

	.projects-container{
		padding:1em 0;
	}
	
}


@media screen and (max-width:1000px){
	.portfolio{
		width: 90%;
	}
}
