@import url('https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

h1{
	color: #ffffff;
	font-size: 2em;
	font-family: 'Rajdhani', sans-serif;
}

h2{
	color: #ffffff;
	font-family: 'Rajdhani', sans-serif;
}

p{
	font-size: 16px;
	color: rgb(255, 255, 255);
}

hr{
	margin-top: 2em;
	border: 0; 
	border-top: 1px solid rgba(152,205,237,0.5);
	
}

main{
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	background: rgb(111,175,211);
	background: linear-gradient(90deg, #2F2F59, #343360);
	display: flex;
	align-items: center;
	justify-content: center;
}


.portfolio{
	min-height: 85vh;
	width: 85%;
	background: linear-gradient(to right bottom, 
		rgba(152,205,237,0.5), 
		rgba(170,201,167,0.3)
		);
	border-radius: 1rem;
	backdrop-filter: blur(2rem);
	box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
	z-index: 3;
	margin-top: 1em;
}

.menu{
	display: flex;
	margin: 2em;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(152,205,237,0.5);
}

.browser-dot{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;
}

#dot-1{
	background-color: #FF5D4F;

}

#dot-2{
	background-color: #FEC02F;

}

#dot-3{
	background-color: #2ACA3E;

}



.container{
	display: flex;
	justify-content: space-evenly;
	margin-top: 4em;
}


.bio-container{
	width: 300px;
	padding: 40px;

}


#profile_pic{
	width: 150px;
	border-radius: 50%;
}


.about{
	margin-top: 3.5em;
}

.snippet{
	color: #ffffff;

}

p{

	color: #ffffff;
}

.resume-container{
	margin-top: 4em;
}

.resume{
	background-color: #6fafd3;
	border:0;
	color: #fff;
	padding: 1em;
	border-radius: 50px;
	opacity: 0.5;
	font-size: 1em;
}

.resume-info{
	margin-top: 1em;
}

.content-container{
	min-width: 300px;
	/* background-color: rgb(126, 244, 96); */
}

#projects-title-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

#slideLeft{
	transform: rotate(180deg);
}



.projects-title{
	text-align: center;
	color: white;
	opacity: 0.9;

}

#skills{
	margin-top: 1em;
}

.projects-container{
	display: flex;
	margin-top: 1em;
	overflow-x: auto;
	padding: 20px;
	
}


/* width */
.projects-container::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  
  /* Track */
  .projects-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(204, 255, 204, 0.541); 
	border-radius: 5px;
  }
   
  /* Handle */
  .projects-container::-webkit-scrollbar-thumb {
	background: #fff; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  .projects-container::-webkit-scrollbar-thumb:hover {
	background: #fff; 
  }

.project-card{


	border-radius: .5rem;
	margin-left: 1em;
	color: #1f3040;

	
	
	width: 300px;
	overflow: hidden;

	/* background:#ffc;
	margin:10px;
	padding: 10px;

	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	transform: rotate(-6deg);
	font-family: 'Reenie Beanie';
	font-size: 24px; */
}



.proj-img{
	width: 100%;
	height: 175px;
	object-fit: cover;
	margin:0!important;
	padding: 0!important;
	

}

.project-card-body{
	box-shadow: 6px 6px 20px rgba(122,122,122,0.1);
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .2);


	padding: 20px;
	min-height: 100px;
	margin:0;
	box-sizing: border-box;
	margin-top:-20px;
}

.proj-title{
	font-size: 18px;
	color: #ffffff;

}

.skills-container{
	display: flex;
	justify-content: space-evenly;
	margin-top: 2em;
	
	border-radius: .5em;

	
}



/* Dropdown Content */
.skills-container1, .skills-container2{
	flex-grow: 1;
	

	border-radius: .5em;

	display: flex;
	flex-flow: column;
	/* align-items: center; */
	
	 /* box-shadow: 6px 6px 20px rgba(122,122,122,0.2);
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .4);  */
	margin:10px;
}


.skill-wrapper{
	border-bottom: 1px solid rgba(152,205,237,0.5);
	padding: 0.5em 1em;
	
}

.skill{
	font-size: 18px;
}

.skill-preview-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.skill-detail{
	height: 0;
	overflow: hidden;
	margin-top: 20px;

}

.skill-detail p{

	color: rgb(218, 216, 219);
}


.expand-icon{
	font-size: 24px;
	font-weight: 900;
	cursor: pointer;
	
}




.blob1, .blob2{
	height: 20rem;
	width: 20rem;
	position: absolute;
}

.blob1{
	top: 1%;
	left: 1%;
	border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
	background: rgb(152,205,237);
	background: linear-gradient(90deg, rgba(152,205,237,0.5) 0%, rgb(127, 144, 156) 100%);
}

.blob2{
	bottom: 1%;
	right: 1%;
	border-radius: 51% 81% 28% 100% / 60% 73% 36% 60%;
	background: #2f2f5c;
	background: linear-gradient(90deg, rgb(182, 152, 237) 0%, rgba(179, 167, 201, 0.5) 100%);
}


@media screen and (max-width:1035px){
	.content-container{

	}


	.portfolio{
		width: 95%;
	}

}


@media screen and (max-width:910px){
.skills-container{
	flex-direction: column;
}

}




@media screen and (max-width:600px){
	.bio-container{
		width: 100%;
	
	}
	.container{
		flex-direction: column;
	}
	
	}
	
